body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #3f88c5;
}

.screenshot-img {
  width: 300px;
  height: 200px;
}

a {
  color: #ffd700;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.header {
  padding: 1rem;
}

.downloadFile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wand-img {
  height: 1em;
}

.footer {
  color: white;
  padding-left: 3rem;
  position: absolute;
  bottom: 0;
  width: 100vw;
  justify-content: left;
  text-align: left;
}